@using SistemaDeEstacionamento.Models.DTO;
@{
    ViewData["Title"] = "Lista de Veículos no estacionamento";
    List<VeiculosNoEstacionamentoDTO> veiculosEstacionados = ViewBag.VeiculosEstacionados;
}
<h1>@ViewData["Title"]</h1>

<script>

    $(function () {
        CarregarTabela('tableListarVeiculos');
    });

    function RegistrarSaida(idVeiculo, idCliente) {
        console.log(idVeiculo);
        console.log(idCliente);
        $.ajax({
            url: '/Home/RegistrarSaida',
           type: 'POST',
           data: { idVeiculo: idVeiculo, idCliente: idCliente },
            success: function (response) {
                console.log('Resposta do servidor:', response);
                window.location.href = 'RegistrarSaida';
            },
            error: function (error) {
                console.error('Erro na solicitação:', error);
            }
        });
    }

</script>


@if (TempData["alerta"] != null)
{
    <script>
        AlertaSucessoComBotao('@TempData["alerta"]');
    </script>

}


<table id="tableListarVeiculos" class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">Placa</th>
            <th scope="col">Veículo</th>
            <th scope="col">Nome do Cliente</th>
            <th scope="col">Local</th>
            <th scope="col">Hora da Entrada</th>
            <th scope="col">Registrar Saída</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (veiculosEstacionados != null && veiculosEstacionados.Count > 0)
            {
                foreach (var item in veiculosEstacionados)
                {
                    <tr>
                        <td>@item.Placa</td>
                        <td>@item.NomeVeiculo</td>
                        <td>@item.NomeCliente</td>
                        <td>@item.Local</td>
                        <td>@item.HoraEntrada</td>
                        <td><a href="/Estacionamento/RegistrarSaida?idVeiculo=@item.IdVeiculo&idCliente=@item.IdCliente" class="btn btn-danger">Registrar Saída</a></td>
                    </tr>
                    
                }

            }
        }
    </tbody>
</table>

