@{
    ViewData["Title"] = "Registrar Saída";
    Veiculo veiculo = ViewBag.Veiculo;
    Cliente cliente = ViewBag.Cliente;
    List<TipoPagamento> tiposPagamentos = ViewBag.TiposPagamentos;
}

<script>

    function CalcularValor() {
        let formData = {
            TipoVeiculo: $("#txtTipoVeiculo").val(),
            TipoDia: $("#txtTipoDia").val(),
            Desconto: $("#txtDesconto").val(),
            HoraEntrada: $("#txtHoraEntrada").val(),
            HoraSaida: $("#txtHoraSaida").val(),
        };
        $.ajax({
            url: '/Estacionamento/CalcularValorPorHora',
            type: 'POST',
            dataType: 'json',
            data: formData,
            success: function (response) {
                console.log('Resposta do servidor:', response);
                $('#txtValorBruto').val(response.valorBruto);
                $('#txtValorTotal').val(response.valorTotal);
                alert('Deu certo!');
            },
            error: function (error) {
                console.error('Erro na solicitação:', error);
            }
        })
    }

    function Editar(e) {
        $('#txtValorBruto').val('');
        $('#txtDesconto').val('');
        // Removendo onblur para não calcular automaticamente
        $('#txtHoraSaida').removeAttr('onblur');
        $('#txtDesconto').removeAttr('onblur');
        //Ativando Input
        $('#txtValorBruto').prop('readonly', true);
        $('#txtDesconto').prop('readonly', true);
        //Desativando Input
        $('input[name="valorTotal"]').removeAttr('readonly');
        $('#btnRegSaida').hide();
        $('#btnEditar').hide();
        $('#btnRegSaidaAvulsa').css('visibility', 'visible');
        $('#btnVoltar').css('visibility', 'visible');
        e.preventDefault();
    }

    function RecarregarPagina(e) {
        e.preventDefault();
        let url = $(location).attr('href');
        location.href = url;
        console.log(url);
    }

    function RegistrarSaidaAvulsa(e) {

        if ($("#txtHoraSaida").val() === null || $("#txtHoraSaida").val() === undefined || $("#txtHoraSaida").val() === ''){
            AlertaErroSemBotao('Informe a hora de saída do veiculo!');
            return;
        }
        if ($("#txtValorTotal").val() === null || $("#txtValorTotal").val() === undefined || $("#txtValorTotal").val() === '')
            return AlertaErroSemBotao('Informe a hora de saída do veiculo!');
        
            
        let obj = {
            IdCliente : $('#txtIdCliente').val(),
            IdVeiculo : $('#txtIdVeiculo').val(),
            TipoVeiculo: $("#txtTipoVeiculo").val(),
            TipoDia: $("#txtTipoDia").val(),
            Desconto: $("#txtDesconto").val(),
            HoraEntrada: $("#txtHoraEntrada").val(),
            HoraSaida: $("#txtHoraSaida").val(),
            ValorAvulso: $("#txtValorTotal").val(),
        };
        
        $.ajax({
            url: '/Estacionamento/RegistrarSaidaAvulsaVeiculo',
            type: 'POST',
            data: obj,
            success: function (response) {
                console.log('Resposta do servidor:', response);
                alert('Deu certo!');
            },
            error: function (error) {
                console.error('Erro na solicitação:', error);
            }
        });
        e.preventDefault();
    }

</script>

<h1>@ViewData["Title"]</h1>




<form action="/Estacionamento/RegistrarSaidaVeiculo" method="post">
    <div class="row" style="visibility: collapse;">
        <div class="form-group col-md-4" style="visibility: collapse;">
            <label for="inputEmail4">Cód Veiculo:</label>
            <input name="IdVeiculo" type="text" class="form-control" id="txtIdVeiculo" placeholder="Nome" readonly value="@veiculo.Id">
        </div>
        <div class="form-group col-md-4" style="visibility: collapse;">
            <label for="inputPassword4">Cód Cliente:</label>
            <input name="IdCliente" type="text" class="form-control" id="txtIdCliente" placeholder="000.000.000-00" readonly value="@cliente.Id">
        </div>
        <div class="form-group col-md-4" style="visibility: collapse;">
            <input name="TipoVeiculo" type="text" class="form-control" id="txtTipoVeiculo" placeholder="" readonly value="@veiculo.TipoVeiculo.Id">
            <input name="TipoDia" type="text" class="form-control" id="txtTipoDia" placeholder="000.000.000-00" readonly value="@veiculo.IdTipoDia">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Nome do Cliente Responsável:</label>
            <input name="NomeCliente" type="text" class="form-control" id="inputEmail4" placeholder="Nome" readonly value="@cliente.Nome">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">CPF:</label>
            <input name="Cpf" type="text" class="form-control" id="inputPassword4" placeholder="000.000.000-00" readonly value="@cliente.Cpf">
        </div>
    </div>
    <div class="row">

        <div class="form-group col-md-6">
            <label for="inputEmail4">Telefone:</label>
            <input name="Telefone" type="text" class="form-control" id="inputEmail4" placeholder="(00)90000-0000" readonly>
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">Nome do cliente (opcional):</label>
            <input name="NomeCliente2" type="text" class="form-control" id="inputEmail4" placeholder="Nome" readonly>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <label for="ddlTipoVeiculo">Tipo de veículo:</label>
            <input name="NomeVeiculo" type="text" class="form-control" id="inputEmail4" placeholder="" readonly value="@veiculo.TipoVeiculo.Nome">
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">Nome do Veículo:</label>
            <input name="NomeVeiculo" type="text" class="form-control" id="inputEmail4" placeholder="Nome" readonly value="@veiculo.Nome">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Placa:</label>
            <input name="NomeCliente" type="text" class="form-control" id="inputEmail4" placeholder="" readonly value="@veiculo.Placa">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Local:</label>
            <input name="Cpf" type="text" class="form-control" id="inputPassword4" placeholder="" readonly value="@veiculo.LocalEstacionado">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label for="inputPassword4">Hora da Entrada:</label>
            <input id="txtHoraEntrada" name="HoraEntrada" type="datetime" class="form-control" readonly value="@veiculo.HoraEntrada" />
        </div>
        <div class="form-group col-md-6">
            <label for="HoraSaida">Hora da Saída:</label>
            <input id="txtHoraSaida" name="HoraSaida" type="time" class="form-control" onblur="CalcularValor()" required />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label for="inputPassword4">Tipo de pagamento:</label>
            <select name="tipoPagamento" id="ddlTipoVeiculo" class="form-select" aria-label="Default select example">
                <option selected value=0>Escolha uma opção</option>
                @{
                    foreach (TipoPagamento item in tiposPagamentos)
                    {
                        <option value=@item.Id>@item.FormaPagamento</option>
                    }
                 }
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Desconto:</label>
            <input id="txtDesconto" name="Desconto" type="number" class="form-control" placeholder="%" onblur="CalcularValor()" />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-6">
            <label for="inputPassword4">Valor Bruto:</label>
            <input id="txtValorBruto" name="valorBruto" type="number" class="form-control" placeholder="R$" readonly />
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Valor total:</label>
            <input id="txtValorTotal" name="valorTotal" type="number" class="form-control" placeholder="R$" readonly required />
        </div>
    </div>

    <div style="margin-top:30px;" class="btn-group" role="group">
        <button id="btnRegSaida" class="btn btn-primary">Registrar Saída por hora estacionada</button>
        <button id="btnRegSaidaAvulsa" class="btn btn-secondary" onclick="RegistrarSaidaAvulsa(event)" style="margin-left:10px;visibility: hidden;">Registrar Saída Avulsa</button>
        <button id="btnEditar" class="btn btn-secondary" onclick="Editar(event)" style="margin-left:10px;">Editar Valores</button>
        <button id="btnVoltar" class="btn btn-secondary" onclick="RecarregarPagina(event);" style="margin-left:10px; visibility: hidden;">Voltar</button>
    </div>

    @* <div class="btn-group" role="group" aria-label="Exemplo básico">
    <button type="button" class="btn btn-secondary">Esquerda</button>
    <button type="button" class="btn btn-secondary" style="margin-left:10px;">Meio</button>
    <button type="button" class="btn btn-secondary" style="margin-left:10px;">Direita</button>
    </div>*@


</form>



